.navbar-container {
    background-color: var(--cor-1);
    height: 100px;
    display: flex;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.logopequena-navbar {
    width: 90px;
    border-radius: 10px;
    margin: 10px;
}

.farmacia-title {
    color: var(--cor-2);
}