.navbar-container {
    background-color: var(--cor-4);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
    margin: 10px;
}