/* Parte principal do main */

.main-container {
    display: flex;
    height: 845px;
    width: 1800px;
    background-color: var(--cor-1);
}

/* Início do main da esquerda */

.main-left {
    height: 845px;
    width: 960px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Parte de cima do main-left */

.main-top-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: blue;
}

.main-titles-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-title-left-top {
    font-size: 35px;
    color: var(--cor-2);
    margin: 0px;
}

.main-title-left-bottom {
    width: 840px;
    font-size: 25px;
    text-align: center;
    color: var(--cor-2);
}

/* Parte de baixo do main-left */

.main-bottom-left {
    display: flex;
    height: 300px;
    width: 840px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: chartreuse;
}

.main-bottom-display-left {
    display: flex;
}

.main-bottom-left-display {
    height: 150px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-4);
    box-shadow: 0px 5px 30px var(--cor-4);
    border-radius: 8px;
    margin: 10px;
}

.main-display {
    color: var(--cor-2);
    font-size: 35px;
    text-shadow: 0px 1px 30px var(--cor-2);
}

.main-bottom-left-button {
    display: flex;
    margin-top: 15px;
}

/* Início do main da direita */

.main-right {
    width: 960px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {
    font-size: 30px;
    margin: 0;
    color: var(--cor-2);
}

.main-image {
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 0px 5px 30px var(--cor-2);
}